@model DatosArtista

@{
    var memoryCache = ViewContext.HttpContext.RequestServices.GetService<IMemoryCache>();

    var favoritos = memoryCache.Get<List<int>>("cuadrosfavoritos");
}

<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@@fortawesome/fontawesome-free/css/all.min.css">

<div class="p-4 sm:ml-70" style="margin: 0 auto;">
    <main class="profile-page">
        <section class="relative block h-500-px">
                <div class="absolute top-0 w-full h-full bg-center bg-cover" style="
                background-image: url('@ViewData["FOTOFONDO"]');
                ">
                    <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
                </div>
            
            <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px)">
                <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
                    <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
        <section class="relative py-16 bg-blueGray-200">
            <div class="container mx-auto px-4">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64">
                    <div class="px-6">
                        <div class="flex flex-wrap justify-center">
                            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
                                <div class="relative">
                                    <img src="@ViewData["PERFIL"]" class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px">
                                </div>
                            </div>
                            <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
                                <div class="py-6 px-3 mt-32 sm:mt-0">
                                    <button class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150" type="button">
                                        Follow
                                    </button>
                                </div>
                            </div>
                            <div class="w-full lg:w-4/12 px-4 lg:order-1">
                                <div class="flex justify-center py-4 lg:pt-4 pt-8">
                                    <div class="mr-4 p-3 text-center">
                                        <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">10</span><span class="text-sm text-blueGray-400">Followers</span>
                                    </div>
                                    <div class="mr-4 p-3 text-center">
                                        <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">@ViewData["CONTARPRODUCT"]</span><span class="text-sm text-blueGray-400">Products</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-12">
                            <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2">
                                @Model.artista.Nick
                            </h3>
                            <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
                                <i class="fas fa-map-marker-alt mr-2 text-lg text-blueGray-400"></i>
                                Los Angeles, California
                            </div>
                            <div class="mb-2 text-blueGray-600 mt-10">
                                <pre>@Model.artista.Descripcion</pre>
                            </div>
                        </div>
                        <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
                            <div class="flex flex-wrap justify-center">
                                <div class="w-full lg:w-9/12 px-4">
                                    <div class="grid grid-cols-2 gap-4">
                                        @foreach(InfoProducto info in Model.listaProductos)
                                        {
                                            <div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
                                                <div style="width: 400px; margin: 0 auto; text-align: center;">
                                                    <div class="rounded overflow-hidden shadow-lg">
                                                        <a asp-controller="Home" asp-action="Details" asp-route-idproducto="@info.IdInfoArte">
                                                            <div class="relative">
                                                                <img src="@ViewData["BUCKETURL"]@info.Imagen" style="width: 400px; height: 380px">
                                                                <div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>
                                                                @if(favoritos == null)
                                                                {
                                                                    <a asp-controller="Home" asp-action="Index" asp-route-idfavorito="@info.IdInfoArte">
                                                                        <div class="text-sm absolute top-0 right-0 rounded-full flex flex-col items-center justify-center mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                                                                            <svg style="margin: 0 auto;" id="favorito" aria-hidden="true" class="classSVG absolute top-0 right-0 bg-indigo-600 text-white rounded-full flex-shrink-0 w-10 h-10 text-gray-900 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white hover:text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                                                <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z"></path>
                                                                            </svg>
                                                                        </div>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    if (favoritos.Contains(info.IdInfoArte))
                                                                    {
                                                                        <a asp-controller="Home" asp-action="Index" asp-route-ideliminar="@info.IdInfoArte">
                                                                            <div class="text-sm absolute top-0 right-0 rounded-full flex flex-col items-center justify-center mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                                                                                <svg style="margin: 0 auto;" id="favorito" aria-hidden="true" class="absolute top-0 right-0 bg-indigo-600 text-white rounded-full flex-shrink-0 w-10 h-10 text-gray-900 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white hover:text-gray-900" fill="yellow" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z"></path>
                                                                                </svg>
                                                                            </div>
                                                                        </a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a asp-controller="Home" asp-action="Index" asp-route-idfavorito="@info.IdInfoArte">
                                                                            <div class="text-sm absolute top-0 right-0 rounded-full flex flex-col items-center justify-center mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                                                                                <svg style="margin: 0 auto;" id="favorito" aria-hidden="true" class="classSVG absolute top-0 right-0 bg-indigo-600 text-white rounded-full flex-shrink-0 w-10 h-10 text-gray-900 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white hover:text-gray-900" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z"></path>
                                                                                </svg>
                                                                            </div>
                                                                        </a>
                                                                    }
                                                                }

                                                            </div>
                                                        </a>
                                                        <div class="px-6 py-4">
                                                            <a asp-controller="Home" asp-action="Details" asp-route-idproducto="@info.IdInfoArte" class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out">
                                                                @info.Titulo
                                                            </a>
                                                            <br>
                                                            <br>
                                                            <h2 class="font-awesome text-2xl inline-block"><b>@info.Precio €</b></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
