@model DatosArtista

<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@@fortawesome/fontawesome-free/css/all.min.css">

<div class="p-4 sm:ml-70" style="margin: 0 auto;">
    <main class="profile-page">
        <section class="relative block h-500-px">
            
            <div id="background" class="absolute top-0 w-full h-full bg-center bg-cover" style="
              background-image: url('@ViewData["FOTOFONDO"]');
              ">
                <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
                
                <!-- Botón que abre el pop-up -->
                <button onclick="abrirPopup()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 absolute top-0 right-0 m-4 text-white" fill="none" viewBox="0 0 20 20" stroke="currentColor">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M1 8a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 018.07 3h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0016.07 6H17a2 2 0 012 2v7a2 2 0 01-2 2H3a2 2 0 01-2-2V8zm13.5 3a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM10 14a3 3 0 100-6 3 3 0 000 6z"></path>
                    </svg>
                </button>
                <form method="post" enctype="multipart/form-data">
                    <!-- Contenedor del pop-up (inicialmente oculto) -->
                    <div id="miPopup" class="fixed z-10 inset-0 overflow-y-auto hidden">
                      <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                        <!-- Fondo oscuro detrás del pop-up -->
                        <div class="fixed inset-0 transition-opacity">
                          <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
                        </div>

                        <!-- Contenedor principal del pop-up -->
                        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                          <!-- Encabezado del pop-up -->
                          <div class="bg-gray-200 px-4 py-3 border-b border-gray-300">
                            <h3 class="text-lg leading-6 font-medium text-gray-900">Ingrese una imagen de fondo</h3>
                          </div>
                            <!-- Cuerpo del pop-up -->
                            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                            <!-- Input para ingresar el nombre -->
                            <div class="mb-4">
                                <label class="block text-gray-700 font-bold mb-2">Cambiar Imagen de Fondo:</label>
                                <input type="hidden" name="id" value="@Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value" />
                                <input type="file" name="fileFondo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                            </div>
                            </div>

                            <!-- Pie del pop-up -->
                            <div class="bg-gray-100 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                            <!-- Botón para guardar el nombre -->
                            <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-500 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">Guardar</button>
                            <!-- Botón para cerrar el pop-up -->
                            <button type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm" onclick="cerrarPopup()">Cancelar</button>
                            </div>
                        </div>
                      </div>
                    </div>
                </form>
            </div>
            <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px)">
                <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
                    <polygon class="text-blueGray-200 fill-current" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>


        <section class="relative py-16 bg-blueGray-200">
            <div class="container mx-auto px-4">
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64">
                    <div class="px-6">
                        <div class="flex flex-wrap justify-center">
                            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">

                                <div class="relative">
                                    <img src="@ViewData["PERFIL"]" class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-150-px"/>
                                    <a asp-controller="Artista" asp-action="EditarPerfilArtista" asp-route-idartista="@Model.artista.IdArtista" class="bg-indigo-600 rounded-full w-10 h-10 absolute bottom-0 right-0 mr-2 mb-2 flex items-center justify-center">
                                        <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"></path>
                                        </svg>
                                    </a>
                                </div>

                            </div>
                            <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
                                <div class="py-6 px-3 mt-32 sm:mt-0">
                                    <button class="bg-pink-500 active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150" type="button">
                                        Follow
                                    </button>
                                </div>
                            </div>
                            <div class="w-full lg:w-4/12 px-4 lg:order-1">
                                <div class="flex justify-center py-4 lg:pt-4 pt-8">
                                    <div class="mr-4 p-3 text-center">
                                        <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">10</span><span class="text-sm text-blueGray-400">Followers</span>
                                    </div>
                                    <div class="mr-4 p-3 text-center">
                                        <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600">@ViewData["CONTARPRODUCT"]</span><span class="text-sm text-blueGray-400">Products</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mt-12">
                            
                            <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2">
                                @Model.artista.Nick
                            </h3>
                            <div class="text-sm leading-normal mt-0 mb-2 text-blueGray-400 font-bold uppercase">
                                <i class="fas fa-user mr-2 text-lg text-blueGray-400"></i>
                                @Model.artista.Nombre @Model.artista.Apellidos
                            </div>
                            <div class="mb-2 text-blueGray-600 mt-10">
                                <pre>@Model.artista.Descripcion</pre>
                            </div>
                        </div>
                        <div class="mt-10 py-10 border-t border-blueGray-200 text-center">
                            <div class="flex flex-wrap justify-center">
                                <div class="w-full lg:w-9/12 px-4">
                                    <div class="grid grid-cols-2 gap-4">
                                        @foreach (InfoProducto info in Model.listaProductos)
                                        {
                                            <div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
                                                <div style="width: 400px; margin: 0 auto; text-align: center;">
                                                    <div class="rounded overflow-hidden shadow-lg">
                                                        <a asp-controller="Home" asp-action="Details" asp-route-idproducto="@info.IdInfoArte">
                                                            <div class="relative">
                                                                <img src="@ViewData["BUCKETURL"]@info.Imagen" style="width: 400px; height: 380px">
                                                                <div class="hover:bg-transparent transition duration-300 absolute bottom-0 top-0 right-0 left-0 bg-gray-900 opacity-25"></div>

                                                                <a asp-controller="Artista" asp-action="PerfilArtista" asp-route-idartista="@info.IdArtista" asp-route-idInfoArteEliminado="@info.IdInfoArte">
                                                                    <div class="text-sm absolute top-0 right-0 rounded-full flex flex-col items-center justify-center mt-3 mr-3 hover:bg-white hover:text-indigo-600 transition duration-500 ease-in-out">
                                                                    <svg style="margin: 0 auto;" id="favorito" aria-hidden="true" class="absolute top-0 right-0 bg-indigo-600 text-white rounded-full flex-shrink-0 w-10 h-10 text-gray-900 transition duration-75 hover:text-red-500" fill="white" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"></path>
                                                                        </svg>
                                                                    </div>
                                                                </a>

                                                            </div>
                                                        </a>
                                                        <div class="px-6 py-4">
                                                            <a asp-controller="Home" asp-action="Details" asp-route-idproducto="@info.IdInfoArte" class="font-semibold text-lg inline-block hover:text-indigo-600 transition duration-500 ease-in-out">
                                                                @info.Titulo
                                                            </a>
                                                            <br>
                                                            <br>
                                                            <h2 class="font-awesome text-2xl inline-block"><b>@info.Precio €</b></h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<script>
    // Función para abrir el pop-up
    function abrirPopup() {
        document.getElementById("miPopup").classList.remove("hidden");
    }

    // Función para cerrar el pop-up
    function cerrarPopup() {
        document.getElementById("miPopup").classList.add("hidden");
    }

    // Función para guardar el nombre ingresado en el input y cambiar el background
    //function guardarNombre() {
    //    var nombre = document.getElementById("nombre").value;

    //    var background = document.getElementById("background");
    //    background.style.backgroundImage = "url(" + nombre + ")";

    //    // Guardar la nueva imagen de fondo en la sesión del usuario
    //    sessionStorage.setItem("imagenDeFondo", background.style.backgroundImage);

    //    cerrarPopup();
    //}

    // Función para cargar la imagen de fondo guardada en la sesión del usuario
    //function cargarImagenDeFondo() {
    //    var imagenDeFondo = sessionStorage.getItem("imagenDeFondo");
    //    if (imagenDeFondo) {
    //        var background = document.getElementById("background");
    //        background.style.backgroundImage = imagenDeFondo;
    //    }
    //}

    // Llamar a la función para cargar la imagen de fondo al cargar la página
    //cargarImagenDeFondo();
</script>

